@charset "UTF-8";

/*==================================
0. 基本的な設定
====================================*/
.label {
  vertical-align: 22%;
}

body {
  background: #f3f3f3;
  font-family: 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 16px;

}

#article-content p {
  margin-bottom: 30px;
}

#article-content h2 {
  border-bottom: 2px solid #00a3af;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 24px;
}

#article-content h2:before {
  content: "\f0c3 ";
  font-family: "fontawesome";
}


/*==================================
1. ヘッダーナビ
====================================*/
.navbar {
  margin-bottom: 35px;
  border: none;
  border-radius: 0;
}

.navbar-default{
  background: #164a84;
  border-bottom: 5px solid #00a3af;
}

.navbar-default .header-nav-link > li > a {
    color: #fdf6e3;
}

.navbar-default .header-nav-link > li > a:focus, .navbar-default .header-nav-link > li > a:hover {
    color: #f3f3f3;
    background-color: transparent;
}

.navbar-default .header-nav-link > li > a:hover {
  opacity: .8;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand span {
  color: #cb4b16;
}

.navbar-brand > a {
  color: #fdf6e3;
  transition: all .3s ease;
}

.navbar-brand > a:hover {
  opacity: .8;
  transition: all .3s ease;
  text-decoration: none;
}

.navbar-default .navbar-toggle {
  border-color: #fdf6e3;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fdf6e3;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #00a3af;
    border-color: #00a3af;
}


/*==================================
2. プロフィールの設定
====================================*/
.profile {
  height: 150px;
  background-size: cover;
  border-radius: 4px 4px 0 0;
  background-image: url("../images/profile-bg.jpg");
}

.profile-img {
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 163, 175, .1);
}

.profile-body {
  padding: 10px 15px;
  background-color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}



.panel-default {
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}



.articles img {
  border-radius: 4px 0 0 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.col-md-3.gutter {
  padding: 0 15px !important;
}

.col-md-8.article-post {
  padding: 8px 15px 0;
}

.article-post hr{
  margin: 8px 0;
}

.article-wrapper {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.panel-primary {
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.panel-primary >.panel-heading {
    color: #fff;
    background-color: #164a84;
    border-color: #164a84;
}

.panel-primary > .panel-body {
  padding: 0;
}

.article-title {
  font-size: 2rem;
  margin: 10px 0;
}

.article-banner {
  max-width: 200px;
}

.footer {
  padding: 15px 0;
  background: linear-gradient(360deg, rgba(22, 74, 132, .8), rgba(0, 163, 175, .8));
  color: #fdf6e3;
}


/*カテゴリーカラー*/

.category-web {
  background-color: #f08300;
}

/*タグカラー*/
.tag-hugo {
  background-color: #e7609e;
}

.tag-gh-pages {
  background-color: #95949a;
}

.tag-mokumoku {
  background-color: #89c3eb;
}

.recent-box {
  background-color: #f3f3f3;
  border: none;
}

.recent-article-img {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: cover;
}

/*ボタンカラー*/
.btn-readMore {
  color: #fdf6e3;
  background-color: #164a84;
  border-color: #164a84;
  transition: all .3s ease;
}

.btn.btn-readMore:hover {
  background-color: #fdf6e3;
  color: #164a84;
  border-color: #fdf6e3;
  transition: all .3s ease;
}

#comments {
  background: linear-gradient(180deg, rgba(22, 74, 132, .8), rgba(0, 163, 175, .8));
  padding: 15px;
  margin: 30px 0;
}

.article-entry pre {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  background: #002b36;
  margin: 0 -16px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #eceff2;
  border-width: 1px 0;
  overflow: auto;
  line-height: 22.400000000000002px;
  border-radius: 0;
  margin-bottom: 15px;
  font-size: 16px;
}

.article-entry pre code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  color: #fdf6e3;
}

/*==================================
ソーシャルカラー
====================================*/
.social .fa-github {
  transition: all .3s ease;
}

.fa-github:hover {
  color: #9ea1a3;
  transition: all .3s ease;
}

.social .fa-codepen {
  transition: all .3s ease;
}

.fa-codepen:hover {
  color: #180614;
  transition: all .3s ease;
}

.social .fa-instagram {
  transition: all .3s ease;
}

.fa-instagram:hover {
  color: #65318e;
  transition: all .3s ease;
}

.social .fa-pinterest {
  transition: all .3s ease;
}

.fa-pinterest:hover {
  color: #c9171e;
  transition: all .3s ease;
}

.social .fa-twitter {
  transition: all .3s ease;
}

.fa-twitter:hover {
  color: #2ca9e1;
  transition: all .3s ease;
}

.fa-rss {
  transition: all .3s ease;
}

.fa-rss:hover {
  color: #007b43;
  transition: all .3s ease;
}




@media (min-width: 992px) {
  .container-fluid {
    padding: 0 7rem;
  }
}
